div.search-tags-chain a {margin:2px;}
div.search-tags-chain a.search-tags-link {color:#333333; font-size:90%; text-decoration:none;color:#535353;}
div.search-tags-cloud a {white-space: normal;}
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

select.bordered {
    padding: 14px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 20px 27px;
}
@media(max-width: 991px) {
	select.bordered {
	    margin-bottom: 20px;
	}
}
@media(max-width: 800px) {
	.form .pdata input {width: 100%}
	select.bordered {margin: 0 15px 20px 0}
}